
    #element1 {float:left;}
    #element2 {float:right;}
    
    #spacing1 {margin-bottom: 5em;}
    #spacing2 {margin-bottom: 3em;}

    #box {margin:0 auto; border: 1px solid black;max-width:50%;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px;background-color: white}

    #game{border: 1px solid black;background-color:white}

    body{background-color:black;}